
.icon-rss-alt:before { content: '\e800'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-tumblr-rect:before { content: '\f310'; } /* '' */
.icon-linkedin-rect:before { content: '\f312'; } /* '' */